<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">Verification Document</h5>
  </div>
  <div class="card-body">
    <div>
      <form [formGroup]="verificationFileForm" (submit)="onFileSubmit()">
        <!-- Warning Alert -->
        <div class="alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
          <i class="ri-alert-line me-3 align-middle"></i> <strong>Warning</strong> - You can't re upload the
          document if signed by any vendor
        </div>

        <div class="mb-3 form-group">
          <label class="form-label">Vendor Verification Document</label>
          <input class="form-control" [ngClass]="{'is-invalid': isInvalid('uploadedFile')}"
                 id="uploadedFile" formControlName="uploadedFile" type="file"/>
          <arv-validation-messages for="uploadedFile"></arv-validation-messages>
          <!-- <dropzone class="dropzone-sec" id="uploadedFile" formControlName="uploadedFile"></dropzone> -->
        </div>

        <div class="text-end mb-3">
          <button [disabled]="verificationFileForm.invalid" type="submit" class="btn btn-success w-sm">Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
