<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">Configuration</h5>
  </div>
  <div class="card-body">
    <div>
      <form [formGroup]="ticketFeesForm" (submit)="onSubmit()">

        <div class="mb-3 form-group">
          <label class="form-label">Ticket Fees</label>
          <div class="input-group">
            <input class="form-control" id="updatedFees" placeholder="xx.xx"
                   [ngClass]="{ 'is-invalid': isInvalid('updatedFees') }"
                   aria-label="amount (with dot and two decimal places)" formControlName="updatedFees"
                   mask="00.00" type="text"/>
            <span class="input-group-text">%</span>
          </div>
          <arv-validation-messages for="updatedFees"></arv-validation-messages>
        </div>
        <div class="text-end mb-3">
          <button [disabled]="ticketFeesForm.invalid" type="submit" class="btn btn-success w-sm">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
