<ng-container *ngIf="users.length > 0; else emptyTemp">
  <table class="table align-middle table-nowrap mb-0">
    <thead class="table-light">
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Status</th>
      <th scope="col">Created Date</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of users">
      <td scope="row" [ngbTooltip]="item.name" container="body">{{item.name| truncate : 15 : '...'}}</td>
      <td><span activeStatusBadge [value]="item?.isActive"></span></td>

      <td scope="row">{{item.createdDate |date}}</td>

      <td><i class="ri-user-line me-1 align-bottom text-primary"></i>{{ item.role |humanize }} </td>

      <td>
        <div class="hstack gap-3 flex-wrap">
          <a href="javascript:void(0);" class="link-danger fs-15" (click)="delete(item)"
             [ngbTooltip]="'Delete'"><i class="ri-delete-bin-line"></i>
          </a>

          <a *ngIf="!item?.isActive" href="javascript:void(0);" class="link-success fs-15"
             [ngbTooltip]="'Activate'" (click)="activate(item)">
            <i class="ri-lock-unlock-line"></i>
          </a>
          <a *ngIf="item?.isActive" href="javascript:void(0);" class="link-muted fs-15"
             [ngbTooltip]="'Deactivate'" (click)="deactivate(item)"><i class="ri-lock-line"></i></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Pagination -->
  <app-pagination (pageChange)="pageChange($event)" [pageNumber]="form.getRawValue().pageNumber"
                  [pageSize]="form.getRawValue().pageSize" [total]="total"></app-pagination>
  <!-- End Pagination -->

</ng-container>

<ng-template #emptyTemp>
  <div class="text-center my-3">
    <img alt="" class="un-draw" width="260px" src="assets/images/no-data.svg">
    <h5 class="py-3 text-muted">There is no users to show</h5>
  </div>
</ng-template>
