<!-- Order Create Model -->
<ng-container #content role="document">
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="addModal" *ngIf="mode == 'add'">Add Event Type</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="mode == 'edit'">Update '{{eventType.name}}''</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modalService.close()"></button>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="modal-body">
            <div class="mb-3">
                <label for="customername-field" class="form-label">Event Type Name</label>
                <input type="text" id="customername-field" class="form-control" placeholder="Enter Name" required
                    formControlName="name" />
            </div>

            <div class="mb-3">
                <label for="customername-field" class="form-label">Event Type Description</label>
                <textarea id="customername-field" class="form-control" placeholder="Enter Description"
                    formControlName="description">
                    </textarea>
            </div>

        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modalService.close()">Close</button>
                <button type="submit" class="btn btn-success" id="add-btn" *ngIf="mode == 'add'">Add Event Type</button>
                <button type="submit" class="btn btn-success" id="add-btn" *ngIf="mode == 'edit'">Update Event
                    Type</button>
            </div>
        </div>
    </form>
</ng-container>
<!--End Modal -->