<div class="auth-page-wrapper pt-5">
  <!-- auth page bg -->
  <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <div class="bg-overlay"></div>

    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1440 120">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
      </svg>
    </div>
  </div>

  <!-- auth page content -->
  <div class="auth-page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mt-sm-5 mb-4 text-white-50">
            <div>
              <a routerLink="" class="d-inline-block auth-logo">
                <img src="assets/images/logo-light.png" alt="" height="20">
              </a>
            </div>
            <p class="mt-3 fs-15 fw-medium">Premium Admin & Dashboard Template</p>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card mt-4">

            <ng-container *ngIf="displayForm">
              <ng-container *ngTemplateOutlet="formTemp"></ng-container>
            </ng-container>
            <ng-container *ngIf="!displayForm">
              <ng-container *ngTemplateOutlet="successTemp"></ng-container>
            </ng-container>

          </div>
          <!-- end card -->

          <div class="mt-4 text-center">
            <p class="mb-0">Already have an account ? <a routerLink="/auth/login"
                class="fw-semibold text-primary text-decoration-underline">
                Signin </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="mb-0 text-muted">&copy;
              <script>
                document.write(new Date().getFullYear())
              </script>
              Ticket Management. Design & Develop by Ticket Management Team
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<ng-template #successTemp>
  <div class="card-body p-4 text-center">
    <div class="avatar-lg mx-auto mt-2">
      <div class="avatar-title bg-light text-success display-3 rounded-circle">
        <i class="ri-checkbox-circle-fill"></i>
      </div>
    </div>
    <div class="mt-4 pt-2">
      <h4>Success!</h4>
      <p class="text-muted mx-4">You have registered successfully</p>
      <div class="mt-4">
        <a routerLink="/auth/login" class="btn btn-success w-100">Back to Login</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #formTemp>
  <div class="card-body p-4">
    <div class="text-center mt-2">
      <h5 class="text-primary">Create New Account</h5>
      <p class="text-muted">Get your free ticket management account now</p>
    </div>
    <div class="p-2 mt-4">
      <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col-md-6 col-lg-6">

            <div class="mb-3">
              <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
              <input [ngClass]="{ 'is-invalid': isInvalid('firstName') }" type="text" class="form-control"
                id="firstName" placeholder="Enter First Name" required formControlName="firstName"
                [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }">
              <div class="invalid-feedback">
                <arv-validation-messages for="firstname"></arv-validation-messages>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name <span class="text-danger">*</span></label>
              <input [ngClass]="{ 'is-invalid': isInvalid('lastName') }" type="text" class="form-control" id="lastname"
                placeholder="Enter Last Name" required formControlName="lastName"
                [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }">
              <div class="invalid-feedback">
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
          <input [ngClass]="{ 'is-invalid': isInvalid('email') }" type="email" class="form-control" id="email"
            placeholder="Enter email address" required formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
          <div class="invalid-feedback">
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="mb-3">
              <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
              <div class="position-relative auth-pass-inputgroup">
                <input id="password-input" (focus)="showValidationPasswordOption()"
                  [ngClass]="{ 'is-invalid': isInvalid('password') }" [type]="fieldTextType ? 'text' : 'password'"
                  class="form-control pe-5 password-input" placeholder="Enter password" aria-describedby="passwordInput"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">

                <button style="margin-right: 16px;"
                  class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                  type="button" id="password-addon">
                  <i class="ri-eye-fill align-middle"
                    [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType  }"
                    (click)="toggleFieldTextType()"></i>
                </button>
                <div class="invalid-feedback">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">

            <div class="mb-3">
              <label for="confirmpassword" class="form-label">Confirm Password <span
                  class="text-danger">*</span></label>
              <div class="position-relative auth-pass-inputgroup">
                <input [ngClass]="{ 'is-invalid': isInvalid('confirmPassword') }"
                  [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5 password-input"
                  placeholder="confirm password" id="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  required formControlName="confirmPassword"
                  [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                <div class="invalid-feedback">
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="mb-3">
          <label for="phonenumber" class="form-label">Phone Number</label>
          <input [ngClass]="{ 'is-invalid': isInvalid('phoneNumber') }" type="text" class="form-control"
            id="phonenumber" placeholder="Enter Phone Number" formControlName="phoneNumber">
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="mb-4">
          <p class="mb-0 fs-12 text-muted fst-italic">By registering you agree to the Ticket Management <a
              href="javascript:void(0);" class="text-primary text-decoration-underline fst-normal fw-medium">Terms
              of
              Use</a></p>
        </div>

        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
          <validation-password-options></validation-password-options>
        </div>

        <div class="mt-4">
          <button [disabled]="SignupForm.invalid" class="btn btn-success w-100" type="submit">Sign Up</button>
        </div>
      </form>

    </div>
  </div>
  <!-- end card body -->
</ng-template>